.home-color div {
    background-color: var(--dark-bg);
    border-radius: 1.5rem;
    padding: 1.5rem  1rem ;
}

.home-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'total waiting done'
        'form form list'
        'form form list'
        'form form list'
        'form form list'
        'form form list'
        'form form list'
    ;
}

@media (max-width : 45rem ) {
    .home-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'total total'
            'waiting done'
            'list list'
            'form form '
            'form form '
            'form form '
        ;
    }
}

.total-patients {
    grid-area: total;
}

.patients-waiting {
    grid-area: waiting;
}

.patients-done {
    grid-area: done;
}

.patients-form {
    grid-area: form;
}

.patients-waiting-list {
    grid-area: list;
}

.patients-form form {
    display: grid;
    grid-template-columns: 1fr ;
}
.patients-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 1rem;
}

.patients-form form div input {
    padding: .5rem 1rem ;
    border-radius: 1rem ;
    font-weight: 800 ;
    font-size: larger;
    background-color: var(--section-bg);
}

.shadow {
    box-shadow: 5px 5px 20px 2px var(--dark-bg);
}

