
:root {
    --main-bg: #cdf8ff;
    --section-bg: #e0f5f8;
    --secend-bg: #3c6170;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
}

section {
    background-color: var(--section-bg);
    padding: 1rem 4rem ;
    grid-column: span 4;
    max-height: 100vh;
}