
:root {
    --bg-color: #088395;
    --section-bg: #CDF2F8;
    --dark-bg: #0A4D68;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
}

header{
    grid: 1fr;
}
section {
    background-color: var(--section-bg);
    padding: 4rem;
    grid-column: span 4;
}