.patients-section-grid {
    display: grid;
    grid-template-rows: 1fr 8fr;
    gap: 1rem;
}

.search-bar input {
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: 800;
    font-size: larger;
    border: none;
    outline: 2px solid var(--secend-bg);
    background-color: var(--secend-bg);
    color: var(--main-bg);
}

.search-bar input::placeholder {
    color: var(--main-bg);
}

.search-bar button {
    background: transparent;
    border: none;
}

.search-grid form {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

.titles-grid,
.patients-box {
    display: grid;
    grid-template-columns: 1.5fr repeat(6, 1fr) 1.5fr;
    gap: .5rem;
}

.title {
    background-color: var(--secend-bg);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--main-bg);
}

.patients-box {
    overflow-y: scroll;
    background-color: var(--secend-bg);
    padding: .3rem 0rem;
    border-radius: 1rem;
    padding: 0rem, 5rem;
}

.patients-box div {
    padding: .4rem 0rem;
    text-align: center;
    background-color: var(--main-bg);
    border-radius: .5rem;
}

.view {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background: transparent !important;
}

/* 
------------- SINGL PATIENT GSTYLE -------------
*/
.patient-update-grid div {
    border-radius: 1rem ;
}

.patient-update-grid {
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr );
    gap: 1rem ;
    text-align: center;
    color: var(--main-bg);
    padding: 1rem ;
}


.patient-grid {
    grid-row: span 2;
    grid-column: span 3;
}

.patients-update-form-grid{
    grid-row: span 3;
    grid-column: span 2; 
}

.side-form {
    grid-row: span 3;
    background-color: var(--secend-bg );
}

.side-form form {
    height: 100% ;
    display: grid ;
    align-items: center;
    justify-items: center;
    gap: 1rem ;
}

.patients-update-form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:  1fr;
    background-color: var(--secend-bg);
}

.patients-update-form form {
    display: grid;
    gap: 1rem;
}

.patients-update-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.patients-update-form form :nth-child(5) {
    grid-template-columns: repeat(3, 1fr);
}

.patients-update-form form :last-child {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.patients-update-form form div :is(input, select), .side-form form div :is(input, select) {
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: 800;
    font-size: larger;
    border: none;
    outline: 2px solid var(--section-bg);
    background-color: var(--section-bg);
}

.side-card {
    display: grid ;
    align-items: center ;
    justify-items: center ;
    font-size: 2rem ;
    font-weight: 800 ;
    color: rgb(188, 210, 216);
}
.patient-grid {
    display: grid ;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem ;
}

.patient-data div{
    background-color: var(--secend-bg);
}

.main-card {
    grid-column: span 3;
    padding: .2rem 1rem ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: start;
    align-items: center;
}
.content-title {
    font-weight: 800 ;
    font-size: 1.6rem !important ;
    color: rgb(188, 210, 216) ;
}
.main-card span {
    font-weight: 600 ;
    font-size: 1.2rem ;
}
.actions-card {
    display: grid ;
    overflow-y: scroll ;
    padding: .5rem 0.1rem ;
    gap: .2rem ;
}
.action-card {
    color: var(--secend-bg);
    background-color: var(--main-bg) !important;
    height: fit-content ;
    padding: .5rem 0rem ;
}

.s-button {
    transform: scale(.8);
}